body {
    font-family: sans-serif;
}

.jumbotron {
    font-size: 20px;
    padding: 10px;
    background-color: #252d73;
    text-align: center;
    color: white;
}

main {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.component {
    padding: 10px;
}

article {
    text-align: justify;
}

#content {
    width: 75%;
}

#biodata {
    width: 25%;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

.provinsi {
    text-align: left;
}

.sembuh {
    color: green;
}

.meninggal {
    color: red;
}

footer {
    padding: 10px;
    color: white;
    background-color: #252d73;
    text-align: center;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    #content, #biodata {
        width: 94%;
    }
 }