body {
  color: white;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

@media (max-width:1024px){
    body {
      font-size:22px;
      line-height:1.6em;
      padding-left:0px;
      padding-right:0px;
      position:relative;
    }
}
